stages:
  - configure
  - check
  - ci_bool
  - build

host:
  stage: configure
  tags:
    - gadsbury_runner
  script:
    - ansible-playbook ansible/configure_host.yml
  when: manual

code:
  stage: check
  tags:
    - gadsbury_runner
  script:
    - ansible-playbook ansible/configure_host.yml --syntax-check
    - for i in `find . -name *.json`; do echo '' && echo $i && python -c 'import json,sys;print json.load(sys.stdin)' < $i; done

ci_false:
  stage: ci_bool
  tags:
    - gadsbury_runner
  script:
    - /bin/false
  when: manual

ci_true:
  stage: ci_bool
  tags:
    - gadsbury_runner
  script:
    - /bin/true

image1:
  stage: build
  tags:
    - gadsbury_runner
  script:
    - ./tools/check.sh
  when: manual

image2:
  stage: build
  tags:
    - gadsbury_runner
  script:
    - ./tools/check.sh
  when: manual
